.clear {
  clear: both;
}

#map {
  margin-top: 50px;
  width: 100%;
  height: 400px;
}

#NavBar .topNavBar {
  padding: 13px 0px;
  background: #084884;
  margin: 0 -15px;
}
#NavBar .topNavBar i {
  margin: 7px;
  font-size: 1.3em;
  color: #1872c5;
  cursor: pointer;
  transition: all 1s ease;
}
#NavBar .topNavBar i:hover {
  color: white;
}
#NavBar .topNavBar p {
  color: #96c6f4;
}
#NavBar .topNavBar button {
  width: 200px;
  border-radius: 30px;
  background: #1872c5;
  color: white;
  font-size: 0.8em;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  margin: -5px 0px;
  transition: all 2s ease;
}
#NavBar .topNavBar button:hover {
  background: #96c6f4;
}
#NavBar .mainNavBar {
  background: #1872c5;
  margin: 0 -15px;
}
#NavBar .mainNavBar .mainNavBarTop {
  padding: 50px 0 100px 0;
  border-bottom: 2px solid black;
}
#NavBar .mainNavBar .mainNavBarTop img:first-child {
  margin-right: 50px;
  cursor: pointer;
}
#NavBar .mainNavBar .mainNavBarTop span {
  color: #96c6f4;
}
#NavBar .mainNavBar .mainNavBarTop span i {
  width: 40px;
  height: 40px;
  background: #084884;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5em;
  padding: 10px 0px;
  color: white;
}
#NavBar .mainNavBar .mainNavBarTop span p {
  line-height: 15px;
  color: #96c6f4;
}
#NavBar .mainNavBar .mainNavBarBottom ul li {
  margin-right: 30px;
}
#NavBar .mainNavBar .mainNavBarBottom ul li a {
  color: white;
  font-size: 1.3em;
  text-transform: capitalize;
}
#NavBar .mainNavBar .mainNavBarBottom ul li a i {
  margin-left: 3px;
  transition: all .5s ease;
}
#NavBar .mainNavBar .mainNavBarBottom ul li a:hover {
  background: #1872c5;
  color: #96c6f4;
}
#NavBar .mainNavBar .mainNavBarBottom ul li a:hover i {
  transform: rotate(180deg);
}
#NavBar .mainNavBar .mainNavBarBottom ul ul li {
  padding: 10px;
  text-transform: capitalize;
}
#NavBar .mainNavBar .mainNavBarBottom ul ul li a {
  color: #1872c5;
  font-size: 1.1em;
}
#NavBar .mainNavBar .mainNavBarBottom ul ul li a:hover {
  background: white;
  color: #084884;
  text-decoration: none;
  transition: all 1s ease;
}
#NavBar .mainNavBar .mainNavBarBottom .borderhover {
  margin-top: 10px;
  border-top: 2px solid black;
  box-shadow: 0 0 20px grey;
}
#NavBar .mainNavBar .mainNavBarBottom .leftborder {
  border-left: 1px solid black;
}
#NavBar .mainNavBar .mainNavBarBottom .leftborder:first-child {
  border-left: none;
}
#NavBar .mainNavBar .mainNavBarBottom .pages {
  width: 1000px;
  margin-left: -400px;
}
#NavBar .mainNavBar .mainNavBarBottom .pages ul li {
  list-style: none;
}
#NavBar .mainNavBar .mainNavBarBottom .pages ul li a {
  margin-left: 5px;
}
#NavBar .mainNavBar .mainNavBarBottom .srch {
  float: right;
  margin-top: 5px;
}
#NavBar .mainNavBar .mainNavBarBottom .srch button {
  background: none;
  border: none;
}
#NavBar .mainNavBar .mainNavBarBottom .srch button:hover {
  background: none;
}
#NavBar .mainNavBar .mainNavBarBottom .srch span {
  width: 230px;
  margin-left: -200px;
  margin-top: 15px;
  border-radius: 40px;
  box-shadow: 0 0 20px grey;
  background: transparent;
}
#NavBar .mainNavBar .mainNavBarBottom .srch span input {
  padding: 5px;
  margin-left: 10px;
  border: none;
  outline: none;
}

#NavBarMobile .NavBarM {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: white;
}
#NavBarMobile .NavBarM img {
  padding: 10px;
}
#NavBarMobile .NavBarM i {
  font-size: 2em;
}
#NavBarMobile .accordMenu {
  width: 250px;
  height: 100vh;
  background: white;
  margin-left: -300px;
  transition: all 2s ease;
  position: fixed;
  z-index: 9998;
  top: 50px;
  left: 0px;
}
#NavBarMobile .accordMenu .rowStyle {
  padding: 10px 2px;
}
#NavBarMobile .accordMenu .rowStyle:hover {
  background: #084884;
}
#NavBarMobile .accordMenu .rowStyle:hover a {
  color: white;
}
#NavBarMobile .accordMenu .rowStyle:hover i {
  color: white;
}
#NavBarMobile .accordMenu .rowStyle a {
  font-size: 1.4em;
  text-transform: capitalize;
  text-decoration: none;
}
#NavBarMobile .accordMenu .rowStyle a i {
  float: right;
}
#NavBarMobile .accordMenu .rowUlStyle ul {
  overflow-y: scroll;
}
#NavBarMobile .accordMenu .rowUlStyle ul:nth-child(4) {
  height: calc(100vh - 230px);
  overflow-y: scroll;
}
#NavBarMobile .accordMenu .rowUlStyle ul li {
  list-style: none;
  margin-left: -40px;
}
#NavBarMobile .accordMenu .rowUlStyle ul li:hover {
  background: #084884;
}
#NavBarMobile .accordMenu .rowUlStyle ul li:hover a {
  color: white;
}
#NavBarMobile .accordMenu .rowUlStyle ul li a {
  padding: 15px 0;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: capitalize;
}
#NavBarMobile .accordMenu span {
  width: 200px;
  padding: 10px;
  border-radius: 40px;
  border: 2px solid black;
  background: transparent;
}
#NavBarMobile .accordMenu span input {
  padding: 5px;
  margin-left: 10px;
  border: none;
  outline: none;
}
#NavBarMobile .accordMenu .iconsMobil {
  padding: 20px;
  margin: 20px;
}
#NavBarMobile .accordMenu .iconsMobil i {
  color: blue;
  font-size: 1.2em;
  margin-left: 5px;
}
#NavBarMobile .accordMenu button {
  width: 200px;
  border-radius: 30px;
  background: #1872c5;
  color: white;
  font-size: 0.8em;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  margin: -5px 0px;
  transition: all 2s ease;
}
#NavBarMobile .accordMenu button:hover {
  background: #96c6f4;
}

#headerSlide {
  position: relative;
  height: 400px;
}
#headerSlide .slide-img-boxs {
  width: 100%;
  position: absolute;
}
#headerSlide .slide-img-boxs img {
  width: 100%;
}
#headerSlide .slide-img-boxs h1 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 3.5em;
  position: absolute;
  top: 40px;
  left: 70px;
}
#headerSlide .slide-img-boxs p {
  font-style: italic;
  font-size: 1.5em;
  position: absolute;
  top: 200px;
  left: 70px;
}
#headerSlide .slideFixed {
  position: absolute;
  bottom: 30px;
  left: 80px;
}
#headerSlide .slideFixed .diacnostic {
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  background: #1872c5;
  display: block;
  color: white;
}
#headerSlide .slideFixed .diacnostic:hover {
  background: #084884;
}
#headerSlide .slideFixed .dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: grey;
  display: inline-block;
  margin: 20px 0 0 20px;
  cursor: pointer;
}

#headerSlideMobil {
  position: relative;
  height: 500px;
}
#headerSlideMobil .slide-pop-boxs {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
#headerSlideMobil .slide-pop-boxs img {
  width: 100%;
  height: 500px;
}
#headerSlideMobil .slide-pop-boxs .popaptext {
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#headerSlideMobil .slide-pop-boxs .popaptext h1 {
  color: white;
  font-size: 1.4em;
  position: absolute;
  left: 32%;
  bottom: 150px;
}
#headerSlideMobil .slideFixed {
  position: absolute;
  left: 40%;
  bottom: 50px;
  z-index: 9997;
}
#headerSlideMobil .slideFixed .diacnostic {
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 50px;
  margin-left: -10px;
  border: none;
  background: #1872c5;
  display: block;
  color: white;
}
#headerSlideMobil .slideFixed .diacnostic:hover {
  background: #084884;
}
#headerSlideMobil .slideFixed .dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: grey;
  display: inline-block;
  margin: 20px 0 0 30px;
  cursor: pointer;
}

#count {
  margin-top: 150px;
}
#count .count .countStyle {
  text-align: center;
}
#count .count .countStyle i {
  font-size: 3.5em;
  color: #1872c5;
}
#count .count .countStyle h2 {
  font-size: 3em;
}
#count .count .countStyle div {
  width: 40px;
  height: 5px;
  border-bottom: 2px solid black;
  margin-left: 43%;
}
#count .count .countStyle p {
  padding: 15px;
  font-size: 1.3em;
}

#ourServises {
  background: #1872c5;
  text-align: center;
  position: relative;
}
#ourServises .Servis h1 {
  color: white;
  padding: 10px;
}
#ourServises .Servis p {
  color: white;
  padding: 30px 0;
}
#ourServises .rotateBox {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: #1872c5;
  position: absolute;
  bottom: -23px;
  left: 48.5%;
}

#slider {
  margin-top: 50px;
}
#slider .slide {
  height: 260px;
  position: relative;
  overflow: hidden;
}
#slider .Item {
  height: 250px;
  margin: 5px -10px;
  box-shadow: 0 0 10px grey;
}
#slider button {
  position: relative;
  z-index: 100;
}
#slider .slideBottomButton {
  width: 200px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  color: white;
  display: block;
  margin: 0 auto;
  background: #1872c5;
}
#slider .slideBottomButton:hover {
  background: #084884;
}

#sliderMiddle {
  margin-top: 50px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
#sliderMiddle .middleSliderheader h1 {
  text-align: center;
  font-weight: bold;
  padding: 15px;
  font-size: 3.5em;
  color: white;
}
#sliderMiddle .middleSliderheader div {
  margin: 20px auto;
  width: 40px;
  height: 5px;
  background: #084884;
}
#sliderMiddle .fonslider {
  position: absolute;
  top: 0;
  left: 0;
}
#sliderMiddle .fonslider .slide-foto {
  margin-left: 100px;
  margin-top: 80px;
  height: 100px;
  overflow: hidden;
}
#sliderMiddle .fonslider .slide-foto .item1 {
  padding: 30px 0px;
}
#sliderMiddle .fonslider .btns .prew {
  position: absolute;
  bottom: -20px;
  left: 450px;
  border-radius: 30px;
  background: #1872c5;
}
#sliderMiddle .fonslider .btns .next {
  border-radius: 30px;
  background: #1872c5;
  border: none;
  position: absolute;
  bottom: -20px;
  right: 450px;
}
#sliderMiddle .topRow {
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  background: black;
}

#textSlider {
  margin-top: 50px;
}
#textSlider .textSliderheader h1 {
  text-align: center;
  font-weight: bold;
  padding: 15px;
  font-size: 3em;
}
#textSlider .textSliderheader div {
  margin: 20px auto;
  width: 40px;
  height: 5px;
  background: #084884;
}
#textSlider .text-slide {
  height: 260px;
  position: relative;
  overflow: hidden;
}
#textSlider .Item2 {
  height: 250px;
  margin: 5px -10px;
}
#textSlider .Item2 img {
  padding: 10px 20px;
  float: left;
}
#textSlider .Item2 h4 {
  color: #1872c5;
  float: left;
  padding: 10px 30px;
  font-size: 1.3em;
}
#textSlider .Item2 p {
  padding: 20px;
  font-size: 1.2em;
}
#textSlider .butns .left {
  border-radius: 30px;
  background: #1872c5;
}
#textSlider .butns .right {
  border-radius: 30px;
  background: #1872c5;
  border: none;
}

#blog {
  margin-top: 30px;
}
#blog h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3.5em;
}
#blog .line {
  width: 40px;
  height: 5px;
  border-bottom: 2px solid blue;
  margin: 20px auto;
}
#blog .boxs {
  box-shadow: 0px 0px 20px grey;
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden;
}
#blog .boxs img {
  width: 100%;
}
#blog .boxs .text {
  padding: 20px;
}
#blog .boxs .text a {
  text-decoration: none;
}
#blog .blogButton {
  width: 200px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  color: white;
  display: block;
  margin: 0 auto;
  background: #1872c5;
}
#blog .blogButton:hover {
  background: #084884;
}

#footer .footerBg {
  background: black;
}
#footer .footerBg .footerLogos {
  margin-top: 50px;
  padding: 10px;
}
#footer .footerBg .footerLogos .footerIcons {
  padding: 10px 0;
  font-size: 1.5em;
  margin-top: 40px;
}
#footer .footerBg .footerLogos .footerIcons i {
  margin-left: 5px;
}
#footer .footerBg .newsletter {
  padding: 50px 0px;
  color: white;
}
#footer .footerBg .newsletter .h3border {
  border-bottom: 2px solid grey;
}
#footer .footerBg .newsletter p {
  padding: 10px 5px;
  color: grey;
}
#footer .footerBg .newsletter .input {
  margin: 10px;
  height: 40px;
  background: white;
  border-radius: 40px;
  overflow: hidden;
}
#footer .footerBg .newsletter .input input {
  padding: 10px;
  color: black;
  outline: none;
  border: none;
}
#footer .footerBg .newsletter .input button {
  float: right;
  width: 100px;
  border-radius: 40px;
  border: none;
  padding: 10px;
  background: #1872c5;
}
#footer .footerBg .newsletter .input button:hover {
  background: #084884;
}
#footer .footerBg .contact {
  padding: 30px;
}
#footer .footerBg .contact .contactborder {
  border-bottom: 2px solid grey;
}
#footer .footerBg .contact h3 {
  color: white;
}
#footer .footerBg .contact div {
  color: grey;
  padding: 10px;
}
#footer .footerBg .contact div a {
  text-decoration: none;
}
#footer .footerBg .contact div i {
  padding: 10px;
}
#footer .footerBg .contact div p {
  line-height: 0.8em;
}
