#map{
	margin-top:50px;
	width: 100%;
	height: 400px;
}


@mixin blue{
	background: #084884;
}

@mixin lineblue{
	background: #1872c5;
}
@mixin lineblue2{
	background: #96c6f4;
}

@import "incudes/NavBar";
@import "incudes/headerSlide";
@import "incudes/countSec";
@import "incudes/servises";
@import "incudes/slide1";
@import "incudes/blog";
@import "incudes/footer";