#headerSlide{
	position: relative;
	height: 400px;
	.slide-img-boxs{
		width: 100%;
		position: absolute;

		img{
			width: 100%;
		}
		h1{
			text-transform: capitalize;
			font-weight: bold;
			font-size: 3.5em;
			position: absolute;
			top: 40px;
			left: 70px;
		}
		p{
			font-style: italic;
			font-size: 1.5em;
			position: absolute;
			top: 200px;
			left: 70px;
		}
	}
	.slideFixed{
		position: absolute;
		bottom: 30px;
		left: 80px;
		.diacnostic{
			text-transform: uppercase;
			padding: 15px 30px;
			border-radius: 50px;
			border:none;
			@include lineblue;
			display: block;
			color: white;
			&:hover{
				@include blue;
			} 

		}
		.dot{
			width: 15px;
			height: 15px;
			border-radius: 100%;
			background:grey; 
			display: inline-block;
			margin: 20px 0 0 20px; 
			cursor: pointer;

		}
	}

}
#headerSlideMobil{
	position: relative;
	height: 500px;
	.slide-pop-boxs{
		width: 100%;
		height: 500px;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		img{
			width: 100%;
			height: 500px;
		} 
	.popaptext{
			width: 100%;
			height: 500px;
			background:rgba(0,0,0,0.5);
			position: absolute;
			top:0;			
			left: 0;
			z-index: 2;
			h1{
				color: white;
				font-size: 1.4em;
				position: absolute;
				left: 32%;
				bottom:150px;
			}

		}
	}
	.slideFixed{
		position: absolute;
		left: 40%;
		bottom:50px;
		z-index: 9997;
		.diacnostic{
			text-transform: uppercase;
			padding: 15px 30px;
			border-radius: 50px;
			margin-left: -10px;
			border:none;
			@include lineblue;
			display: block;
			color: white;
			&:hover{
				@include blue;
			} 

		}
		.dot{
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background:grey; 
			display: inline-block;
			margin: 20px 0 0 30px; 
			cursor: pointer;

			
		}
	}
	
}